nav a:hover{
    background-color: rgba(0, 0, 0, 0.159);
    border-radius: 10px;
}
.cv-btn {
    background-color: rgb(255, 208, 0);
    color: black;
    margin-right: 3rem;
    width: 13rem;
    height: 3rem;
    font-weight: 600;
    font-size: large;
    border-radius: 20px;
    border: 1px solid black;
    
}
.cv-btn:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 174, 0);
    border: 2px solid rgb(255, 174, 0);
}
.hire-btn{
    background-color: rgb(255, 208, 0);
    margin-right: 3rem;
    width: 8rem;
    height: 3rem;
    font-weight: 600;
    font-size: large;
    border-radius: 20px;
    border: 1px solid black;
}
.hire-btn:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(255, 174, 0);
    border: 2px solid rgb(255, 174, 0);
}
.skill-txt:hover{
    color: rgb(255, 204, 0);
}